@model IEnumerable<Brand>

@{
    ViewData["Title"] = "BRANDS";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var brand in Model) {
        <tr>
            <td>
                @Html.ActionLink(brand.Name, "Index", "Models", new { brandId = brand.BrandId }, null)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@brand.BrandId">Edit</a> |
                <a asp-action="Details" asp-route-id="@brand.BrandId">Details</a> |
                <a asp-action="Delete" asp-route-id="@brand.BrandId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
